<nav class="navbar-c">
  <div class="u-nav flx-ctr">
<div class="nav-1 ">
  <%= link_to "#{image_tag("logo.png",{:style => "width:147px;"})}".html_safe, root_path,class:"logo" %>
  <form action="" class="srch-bar flx-ctr">
    <input class="srch-box flx-ctr" type="text" placeholder="Search for Movies,Events,Plays,Sports and Activity" aria-label="Search">
    </div><div class="btn-c">
    <%#<button><%=link_to "Sign in",signin_path,class:"btn-red" %</button>#%>
</div>
</div><div class="d-nav">
  <div class="nav-2">
    <ul class="flx-str un-l">
      <li><a href="/home/movies">Movies</a></li>
      <li><a href="/home/stream">Stream<span class="badge">NEW</span></a></li>
      <li><a class="dis" href="/home/events">Events</a></li>
      <li><a href="/home/plays">Plays</a></li>
      <li><a href="/home/sports">Sports</a></li>
      <li><a href="/home/activities">Activities</a></li>
      <li><a href="/home/buzz">Buzz</a></li>
    </ul>
</div><div class="container-c">
    <ul class="flx-end">
      <li><a href="/home/listyourshow">ListYourShow</a></li>
      <li><a href="/home/corporates">Corporates</a></li>
      <li><a href="/home/offers">Offers</a></li>
      <li><a href="/home/giftcards">Gift Cards</a></li>
    </ul>
</div>
</div>
</nav>
